html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', 'Lato', sans-serif;
    /* background-color: rgb(194, 223, 233); */
    /* background: rgb(196,255,214);
    background: radial-gradient(circle, rgba(196,255,214,1) 0%, rgba(9,29,20,1) 100%); */
    background: lightgray;
}

header {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 4rem;
    color: #5d5fcc;
}

header p {
    font-size: 1.5rem;
    color: #5d5fcc;
    margin-top: -10px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

main button {
    width: 100%;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, .submitBtn {
    width: 50%;
}

input {
    height: 30px;
    border-radius: 5px;
    background-color: white;
}

.submitBtn {
    background-color: #5d5fcc;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0px black;
    padding: 10px 10px;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

section ul {
    width: 50%;
}

li {
    list-style: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', 'Lato', sans-serif;
    color: black;
}

.deleteBtn {
    position: absolute;
    right: 105px;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 2px 3px 0px black;
    color: white;
    background-color: #d9534f;
}

.editBtn {
    position: absolute;
    right: 200px;
    padding: 3px 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 2px 3px 0px black;
    color: black;
    background-color: #eaec47;
}

header h1 {
    margin-top: 10px;
}
