* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', 'Lato', sans-serif;
}

header h1 {
    font-size: 3rem;
}

.date, .time {
    font-size: 1.5rem;
}

.date {
    margin-bottom: -2px !important;
}

.itemCount {
    font-size: 2rem !important;
    text-transform: uppercase !important;
}

.line {
    height: 2px !important;
    background-color: white !important;
    width: 7rem;
    margin-right: 20px;
    margin-left: 20px;
}

.inputForm {
    width: 220px;
}

input {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.addItem {
    background-color: white;
    border: none;
    transition: 500ms;
}

.addItem:hover {
    rotate: 90deg;
    transition: 500ms;
}

.submitBtn:hover {
    background-color: darkgrey;
    transition: all ease-in-out 250ms;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

.card {
    box-shadow: gray 6px 5px 8px 0px;
    animation: fadeIn;
    transition: all ease-in-out 250ms;
}

.card:hover {
    transform: scale(1.03);
    transition: all ease-in-out 250ms;
}

p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    transition: 2s;
}

.editBtn, .deleteBtn {
    transition: 300ms;
}

.editBtn:hover, .deleteBtn:hover {
    transform: scale(1.25);
    transition: 300ms;
    cursor: pointer;
}

.linkedIn, .github, .email {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    transition: 250ms;
}

.linkedIn:hover, .github:hover, .email:hover {
    transform: scale(1.25);
    transition: 500ms;
}

@media screen and (max-width: 250px){
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem !important;
    }

    .itemCount {
        font-size: 1rem !important;
    }
}