* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', 'Lato', sans-serif;
    background: white;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
}

header h1 {
    font-size: 4rem;
    background-color: rgb(246, 246, 246);
}

header p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.dayJS {
    background-color: rgb(246, 246, 246);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

main button {
    width: 100%;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

input, .submitBtn {
    width: 100%;
}

input {
    height: 30px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.submitBtn {
    background-color: #5d5fcc;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 8px 0px black;
    padding: 10px 10px;
    color: white;
}

.submitBtn:hover {
    background-color: #7274f8;
}

section {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    min-height: 28rem;
}

section ul {
    width: 20rem;
}

li {
    display: flex;
    list-style: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Patrick Hand', 'Lato', sans-serif;
    color: black;
}

.btnContainer {
    width: 18rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.deleteBtn, .editBtn {
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 3px 2px 3px 0px black;
    width: 5rem;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 2rem;
}

.submitBtn:hover, .deleteBtn:hover, .editBtn:hover {
    cursor: pointer;
    transition: ease-in-out 250ms;
}

.deleteBtn {
    background-color: #d9534f;
    color: white;
}

.deleteBtn:hover {
    background-color: #ff615c;
}

.editBtn:hover {
    background-color: #cfd13e;
}

.editBtn {
    background-color: #eaec47;
    color: black;
}

.emptyList {
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.emptyList:hover {
    font-size: 1.5rem;
    transition: all ease-in-out 1000ms;
}

footer {
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    margin-top: 3rem;
    width: 100%;
    height: 5rem; 
}